<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404ERROR</title>
        <style>
            body{
                background-color: rgb(30,30,30);
            }
            div {
                text-align: center;
                background-color: rgb(30,30,30);
                color: white;
                text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="https://4.bp.blogspot.com/-Ei-csdUAFo0/WDX8P5h5JmI/AAAAAAAAAhA/YOaeyXEIjYsjnl6o4DzuchS_np-cuUJgACLcB/s1600/error.png" width="636" height="518">
            <h1>404 error</h1>
            <p>we don't found your page</p>
        </div>
        
    </body>
</html>