<!DOCTYPE html>
<html>
    <head>
        <title>grade</title>
        <link rel="stylesheet" href="../views/gradepage.css">
    </head>
    <body>
        <ul>
        <img src="../picture/logo 3.png" width="134.76" height="46.43">
        <li><a class="active" href="/data">DATA EDITTING</a></li>
        <li><a href="/search">SEARCH</a></li>
        <li><a href="/home">HOME</a></li>
        </ul>

        <h1>Student grade page</h1>
        <div class="row">
            <div class="column">
                <h2>Image</h2>
                <image src="../picture/student.jpg" width="50%" height="50%">
            </div>
            <div class="column">
                <h2>Personal data</h2>
                <p>Student ID : <%= data.id %></p>
                <p>Name       : <%= data.name %></p>
                <p>Tel        : <%= data.tel %></p>
                <p>GPAX       : <%= data.gpax %></p>
            </div>
            <div class="column">
                <h2>Each year result</h2>
                <a href="/gradeY1" class="button">YEAR1</a>
                <a href="/gradeY2" class="button">YEAR2</a>
                <a href="/gradeY3" class="button">YEAR3</a>
                <a href="/gradeY4" class="button">YEAR4</a>
                <p><a href="/gradeSIM" class="button">GRADE SIMULATOR</a></p>
              </div>
          </div>
    </body>
</html>