<!DOCTYPE html>
<html>
    <head>
        <title>grade YEAR1</title>
        <link rel="stylesheet" href="../views/gradeshow.css">
    </head>
    <body>
        <ul>
        <img src="../picture/logo 3.png" width="134.76" height="46.43">
        <li><a class="active" href="/data">DATA EDITTING</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="/home">HOME</a></li>
        </ul>

        <h1>Student grade page</h1>
        <div class="row">
            <div class="column">
                <h2>Image</h2>
                <image src="../picture/Photo.jpg" width="50%" height="50%">
            </div>
            <div class="column">
                <h2>Personal data</h2>
                <p>Student ID : 6410301024</p>
                <p>Name       : Thitiphat</p>
                <p>Surname    : Preededilok</p>
                <p>Tel        : 0917397995</p>
                <p>GPAX       : 4.00</p>
            </div>
        </div>

        <h2>YEAR1 First semaster Table</h2>
        <table id="customers">
            <tr>
              <th>Subject</th>
              <th>Creidit</th>
              <th>Grade</th>
            </tr>
            <tr>
              <td>sub 1</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 3</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 4</td>
              <td>2</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 5</td>
              <td>2</td>
              <td>4</td>
            </tr>
        </table>

        <h2>YEAR1 Second semaster Table</h2>
        <table id="customers">
            <tr>
              <th>Subject</th>
              <th>Creidit</th>
              <th>Grade</th>
            </tr>
            <tr>
              <td>sub 1</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 3</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 4</td>
              <td>2</td>
              <td>4</td>
            </tr>
            <tr>
              <td>sub 5</td>
              <td>2</td>
              <td>4</td>
            </tr>
        </table>
    </body>
</html>