<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-10">
        <title>homepage</title>
    </head>
    <body>
        <h1 style="font-size: 30px; color : rgb(10, 24, 211); text-transform: uppercase;">EMBTECH information</h1>
        <div>EMB TECH is a technology company that all of the
        founder is a person who study in CDTI Embbedded departmnent
        and the CEO is a teacher in this department.
        </div>
        <h2 style="font-size: 30px; color : rgb(58, 59, 76); text-transform: uppercase;">EMB TECH contact</h2>
        <p>e-mail   : EMB_TECH@gmail.com</p>
        <p>tel      : 0917397995</p>
    </body>
</html>
</html>