<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" href="../views/homepage.css">
    </head>
    <body>
        <ul>
        <img src="../picture/logo 3.png" width="134.76" height="46.43" >
        <li><a class="active" href="/logout">LOGOUT</a></li>
        <li><a href="/data">DATA EDITTING</a></li>
        <li><a href="/grade">GRADE</a></li>
        <li><a href="#contact">CONTACT</a></li>
        </ul>
          <div class="row">
              <div class="column" style="background-color: rgb(63, 63, 63);">
                <image src="../picture/Photo.jpg" width="50%" height="50%">
              </div>
              <div class="column1">
                <p></p>
              </div>

              <div class="column2" style="background: linear-gradient(to left, rgb(223, 223, 223), rgb(179, 179, 179));">
                <p>Student data</p>
                <p>Student ID : 6410301024</p>
                <p>Name       : Thitiphat</p>
                <p>Surname    : Preededilok</p>
                <p>Email      : 6410301024@cdti.ac.th</p>
                <p>Tel        : 0917397995</p>
                <p>Line ID    : Game Thitiphat</p>
              </div>

              <div class="column3">
                <p></p>
              </div>

              <div class="column1">
                <p></p>
              </div>

              <div class="column2" style="background: linear-gradient(to left, rgb(223, 223, 223), rgb(179, 179, 179));">
                <p>Grade</p>
                <p>GPAX : 4.00</p>
              </div>

            </div>
    </body>
</html>


