<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-10">
        <title>homepage</title>
    </head>
    <body>
        <img src="https://www.nicepng.com/png/detail/159-1595621_top-gun-logo-quotes-navy-top-gun-logo.png" width="410" height="324">
        <!-- <img src="https://drive.google.com/file/d/1skt1zSPlIvakERqIVjYQzUyGqf8rDULv/view?usp=sharing"> -->
        <h1>Student homepage</h1>
        <p>Student ID : </p>
        <p>Name : </p>
        <p>Surname : </p>
        <p>Email :</p>
        <p>Tel : </p>
        <p>Line ID : </p>
        <li><a href="views/gardepage.html">grade</a></li>
        <li><a href="views/personal.html">personal data editting</a></li>
    </body>
</html>
</html>