<html>
<head>
    <link rel="stylesheet" href="../views/index.css">
</head>
<body>
    <form action="/user" method="post">
        <div class="row">
          <div class="center">
            <div class="column" style="background-color: rgb(253, 253, 255);">
                <image src="../picture/main.jpg" width="70%" height="70%">
            </div>
            <div class="column2" style="background: linear-gradient(to left, rgb(223, 223, 223), rgb(203, 203, 203));">
              <h1>Chitralada Techonlogy Institute</h1>
              <h2>Choose your login</h2>
              <a href="/teacher" class="button">Teacher Login</a>
              <a href="/student" class="button">Student Login</a>
            </div>
         </div>
        </div>
    </form>
</body>
</html>