<!DOCTYPE html>
<html>
    <head>
        <title>personal data editting</title>
    <style>
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(46, 45, 111);
        }

        li {
        float: right;
        }

        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }

        li a:hover {
        background-color: rgb(57, 57, 132);
        }
    </style>
    </head>
    <body>
        <ul>
        <img src="../picture/logo 3.png" width="134.76" height="46.43">
        <li><a class="active" href="../views/personal.html">DATA EDITTING</a></li>
        <li><a href="../views/gardepage.html">GRADE</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="../views/homepage.html">HOME</a></li>
        </ul>
        <h1>Personal data editting page</h1>
        <p>Student ID : </p>
        <p>Name : </p>
        <p>Surname : </p>
        <p>Nickname : </p>
        <p>CDTI Email :</p>
        <p>Personal Email :</p>
        <p>Tel : </p>
        <p>Line ID : </p>
        <p>Congenital disease : </p>
        <p>Food allergies :</p>
    </body>
</html>