<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-10">
        <title>personal data</title>
    </head>
    <body>
        <h1>Personal data editting page</h1>
        <p>Student ID : </p>
        <p>Name : </p>
        <p>Surname : </p>
        <p>Nickname : </p>
        <p>CDTI Email :</p>
        <p>Personal Email :</p>
        <p>Tel : </p>
        <p>Line ID : </p>
        <p>Congenital disease : </p>
        <p>Food allergies :</p>
        <!-- <p>Click what you interest???</p> -->
    </body>
</html>
</html>