h1 {
    font-size: 60px;
    color: rgb(118, 118, 118);
}

h2 {
    font-size: 20px;
    color: rgb(118, 118, 118);
}
.center {
    border-radius: 100px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
}

body {
    background: linear-gradient(to left, rgb(211, 211, 211), rgb(147, 124, 185));

}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 60%;
    height: 70%;
    padding: 10px;
}

.column2 {
    float: left;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 30%;
    height: 70%;
    padding: 10px;
}

img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

form input[type="submit"] {
    /* background: linear-gradient(to left, lightblue, purple); */
    background: linear-gradient(to left, rgb(210, 210, 210), rgb(46, 117, 181));
    color: white;
    width: 50%;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
}