ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 45, 111);
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(57, 57, 132);
}

* {
    box-sizing: border-box;
}

.center {
    border-radius: 100px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
}

body {
    background: linear-gradient(to left, rgb(211, 211, 211), rgb(80, 79, 111));
}

.column {
    float: left;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 20%;
    height: 600px;
    padding: 10px;
}

.column2 {
    float: left;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 80%;
    height: 600px;
    padding: 10px;
}

image {
    margin-left: auto;
    margin-right: auto;
}